{% extends 'base.html' %}
{% block title %}À propos – {{ BRAND_NAME }}{% endblock %}
{% block content %}
<section class="py-5">
	<div class="container">
		<h1 class="h3 fw-bold mb-3">À propos de nous</h1>
		<p>Bienvenue à l’Hôtel Confort by Freeman, un établissement hôtelier haut de gamme niché au cœur de Kpalimé, la perle touristique du Togo. Situé en face du Palais de Justice, notre hôtel allie élégamment luxe, confort et propreté pour vous offrir une expérience inoubliable.</p>
		<p>Entouré de montagnes, cascades et sites touristiques, notre établissement est parfait pour les voyageurs en quête de détente, de découvertes culturelles et de services premium.</p>

		<h2 class="h5 mt-4">Philosophie</h2>
		<p>Hospitalité, confort et satisfaction client.</p>

		<h2 class="h5 mt-4">Services généraux</h2>
		<ul>
			<li>Restaurant gastronomique</li>
			<li>Bar lounge</li>
			<li>Salle de conférence</li>
			<li>Service de conciergerie</li>
			<li>Location de voiture</li>
			<li>Appartements long séjour</li>
			<li>WiFi haut débit gratuit</li>
			<li>Service de Blanchisserie</li>
			<li>Piscine extérieure</li>
		</ul>
	</div>
</section>
{% endblock %}